.mainbox
  .mainbox__header
    .group__content
      %h2.group__content__name=@group.name
      %p.group__content__member  Member
    .group__new
      = link_to "Edit", edit_group_path(@group), class: "group__new__btn" 
  .mainbox__content
    = render @messages
      
  .mainbox__form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .message__contens
        = f.text_field :content, class: "message__box", placeholder: "type a message"
        = f.label :image, class: "image_btn" do
          = icon('far','image')
          = f.file_field :image, class: 'Hidden'
      = f.submit "Send", class: "send__btn"